export ENVIRONMENT=${ENVIRONMENT:-dev} # Set default to development

if [ "$ENVIRONMENT" == "dev" ]; then
  dotenv .env.development
else # raise an error if no valid environment is set
  echo "Invalid environment. Valid ENVIRONMENT values: ['dev']"
  exit 1
fi
